
body {
    font-family: sans-serif;
    text-align: center;
}

#weatherData {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}


@media (max-width: 600px) {
    #weatherData {
        width: 90%;
    }
}
